.single-event-container {
  overflow: auto;
  min-width: 300px;
  width: 300px;
  word-break: break-word;

  .single-event {
    position: relative;
    font-size: 14px;
  }

  .external-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}

.close-date {
  cursor: pointer;
  z-index: 99;
}
